[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
itsdangerous = "==1.1.0"
gunicorn = "==20.1.0"
flask-restx = "==0.5.1"
psycopg2-binary = "==2.8.6"
boto3 = "==1.17.78"
Flask = "==1.1.4"
Jinja2 = "==2.11.3"
MarkupSafe = "==2.0.1"
Werkzeug = "==1.0.1"
SQLAlchemy = "==1.4.15"
Flask-SQLAlchemy = "==2.5.1"
SQLAlchemy-Utils = "==0.37.3"
Flask-Script = "==2.0.6"
Flask-Principal = "==0.4.0"
Flask-Migrate = "==3.0.0"
Flask-JWT-Extended = "==4.2.1"

[dev-packages]
flake8 = "==3.9.2"
black = "==21.5b1"
isort = "==5.8.0"
pytest = "==6.2.4"
sqlalchemy2-stubs = "==0.0.2a1"
python-dotenv = "==0.17.1"
pre-commit = "==2.13.0"
boto3-stubs = "==1.17.78"
pytest-cov = "==2.12.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
